.gradle/*
.idea/
local.properties
*.hprof
local.properties
app/.gradle/config.properties
app/build.gradle.kts
app/build.gradle.kts
local.properties
local.properties
app/build.gradle.kts
.idea/caches/deviceStreaming.xml
