<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="robotic_events_test"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Roboticeventstest">

        <!-- Sign up -->
        <activity
            android:name="com.example.robotic_events_test.SignupActivity"
            android:exported="false"
            android:theme="@style/Theme.Roboticeventstest" />

        <!-- Login is the launcher -->
        <activity
            android:name="com.example.robotic_events_test.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Main list of events -->
        <activity
            android:name="com.example.robotic_events_test.MainActivity"
            android:exported="false" />

        <!-- NEW: Event details screen opened on row click -->
        <activity
            android:name="com.example.robotic_events_test.EventDetailActivity"
            android:exported="false" />

        <activity
            android:name="com.example.robotic_events_test.ProfileActivity"
            android:exported="false" />

        <activity
            android:name="com.example.robotic_events_test.EventCreationActivity"
            android:exported="false" />

        <activity
            android:name="com.example.robotic_events_test.EventEditActivity"
            android:exported="false" />

    </application>

</manifest>
